In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [2]:
conn=mysql.connector.connect(host='localhost',
                             user='root',
                             password='admin',
                             database='asad')

In [11]:
engine=create_engine('mysql+mysqlconnector://root:admin@localhost/asad')

In [3]:
query='select * from employee'

In [13]:
df=pd.read_sql(query,engine)
df.head(2)

   empid empName  empAge empDept
0      1     sad      32      cs
1      2    hina      23      it